<ion-view title="Add" id="page2">
  <ion-content padding="true" class="has-header">
    <h3 id="add-heading4" style="color:#000000;">Choose a method</h3>
    <ion-list id="add-list3">
      <ion-item class="item-icon-left" id="add-list-item10">
        <i class="icon ion-ios-camera-outline"></i>Scan</ion-item>
      <ion-item class="item-icon-left" id="add-list-item12">
        <i class="icon ion-ios-barcode-outline"></i>barcode</ion-item>
      <ion-item class="item-icon-left" id="add-list-item11">
        <i class="icon ion-ios-arrow-forward"></i>Import</ion-item>
    </ion-list>
  </ion-content>
</ion-view>