<ion-view title="Bill Info" id="page10">
  <ion-content padding="true" class="has-header">
    <h3 id="billInfo-heading11" style="color:#000000;">Zara 210</h3>
    <h4 id="billInfo-heading13" style="color:#000000;">Please choose the items that you want to refund or exchange.</h4>
    <form id="billInfo-form6" class="list">
      <ion-checkbox id="billInfo-checkbox4">red blouse</ion-checkbox>
      <ion-checkbox id="billInfo-checkbox5">jeans</ion-checkbox>
      <ion-checkbox id="billInfo-checkbox6">glasses</ion-checkbox>
      <button id="billInfo-button17" class="button button-royal button-block">Save</button>
    </form>
  </ion-content>
</ion-view>