<ion-view title="Home" hide-back-button="true" id="page7">
  <ion-content padding="true" class="has-header">
    <h3 id="home-heading7" style="color:#000000;">Layla</h3>
    <div id="home-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">120 points </p>
    </div>
    <ion-list id="home-list6">
      <ion-item class="item-icon-left" id="home-list-item24" ui-sref="menu.add()">
        <i class="icon ion-android-add"></i>Add</ion-item>
      <ion-item class="item-icon-left" id="home-list-item25" ui-sref="menu.invoices()">
        <i class="icon ion-ios-paper-outline"></i>Invoices</ion-item>
      <ion-item class="item-icon-left" id="home-list-item26" ui-sref="menu.budget()">
        <i class="icon ion-social-euro-outline"></i>Budget</ion-item>
      <ion-item class="item-icon-left" id="home-list-item27" ui-sref="menu.offers()">
        <i class="icon ion-ios-more"></i>Offers</ion-item>
    </ion-list>
  </ion-content>
</ion-view>