<ion-view title="Notifications" id="page9">
  <ion-content padding="true" class="has-header">
    <h3 id="notifications-heading10" style="color:#000000;">Notifications</h3>
    <ion-list id="notifications-list10">
      <ion-item id="notifications-list-item38">Zara Invoice 201 - 3 days left</ion-item>
      <ion-item id="notifications-list-item39">Mango Invoice 300 - 10 days left</ion-item>
      <ion-item id="notifications-list-item40">Adidas Invoice 901 - 13 days left</ion-item>
    </ion-list>
  </ion-content>
</ion-view>