<ion-view title="Offers" id="page5">
  <ion-content padding="true" class="has-header">
    <h3 id="offers-heading9" style="color:#000000;">Available Offers</h3>
    <ion-list id="offers-list7">
      <ion-item class="item-thumbnail-left" id="offers-list-item28">
        <h2>50% Sale in Zara</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="offers-list-item29">
        <h2>10% Sale in BHS</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="offers-list-item30">
        <h2>75% Sale in Mango</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>