<ion-view title="Sign In" id="page8">
  <ion-content padding="true" class="has-header">
    <h3 id="signIn-heading8" style="color:#000000;">Sign In</h3>
    <form id="signIn-form4" class="list">
      <label class="item item-input" id="signIn-input5" name="email">
        <span class="input-label">Email</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="signIn-input6" name="password">
        <span class="input-label">Password</span>
        <input type="password" placeholder="">
      </label>
      <a ui-sref="menu.home()" id="signIn-button16" class="button button-royal button-block">Sign In</a>
    </form>
  </ion-content>
</ion-view>