<ion-view title="Sign Up" id="page1">
  <ion-content padding="true" class="has-header">
    <h3 id="signUp-heading2" style="color:#000000;">Sign Up</h3>
    <form id="signUp-form3" class="list">
      <label class="item item-input" id="signUp-input3" name="email">
        <span class="input-label">Email</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="signUp-input4" name="password">
        <span class="input-label">Password</span>
        <input type="password" placeholder="">
      </label>
      <a ui-sref="menu.home()" id="signUp-button15" class="button button-royal button-block">Sign up</a>
    </form>
    <a ui-sref="signIn">
      I already have an account. Sign me in.
    </a>
  </ion-content>
</ion-view>